.container {
  width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, img, ul, li, form, label, input, a, section, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #012d63;
  padding-top: 16px;
  padding-bottom: 14px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 29px;
  margin-left: 150px;
  margin-right: 73px;
}
.header__list--langue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__link {
  color: #c7c7c7;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
}
.header__link:hover, .header__link:focus {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.hero {
  background-color: #012d63;
  background-image: url(./../images/hero__fon.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 94px;
  padding-bottom: 183px;
}
.hero__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 144px;
  line-height: 100%;
  color: #ffffff;
}
.hero__pretitle {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #ffffff;
}
.hero__name {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
}
.hero__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 41px;
  margin-right: 600px;
}
.hero__button {
  border-radius: 10px;
  background-color: #8e32c6;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  padding: 20px 61px 19px;
  border: transparent;
}

.gallery {
  background-color: #012d63;
  background-image: url(./../images/gallery__fon.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 105px;
  padding-bottom: 105px;
}
.gallery__list {
  border: 5px solid #8e32c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

.comment {
  background-color: #012d63;
  background-image: url(./../images/comment__fon.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 24px;
  padding-bottom: 114px;
}
.comment__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
.comment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  gap: 93px;
}
.comment__item {
  width: 255px;
  height: 292px;
}
.comment__item:nth-child(1) {
  background-image: linear-gradient(136.55deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  -webkit-box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
          box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
  border-radius: 15px;
}
.comment__item:nth-child(2) {
  background-image: linear-gradient(136.55deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  -webkit-box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
          box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
  border-radius: 15px;
}
.comment__item:nth-child(3) {
  background-image: linear-gradient(142.67deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  border-radius: 15px;
  -webkit-box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
          box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}
.comment__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 49px;
  margin-left: 18px;
}
.comment__time {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #d8d8d8;
  margin-top: 8px;
  margin-left: 18px;
}
.comment__party--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment__image {
  margin-top: 47px;
  margin-left: 18px;
}
.comment__name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 47px;
  margin-right: 100px;
  margin-bottom: 1px;
}
.comment__from {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #d8d8d8;
}

.forme {
  background-color: #012d63;
  padding-top: 20px;
  padding-bottom: 37px;
  background-image: url(./../images/forme__fon.png);
  background-position: center;
  background-repeat: no-repeat;
}
.forme__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
.forme__input {
  font-family: "Roboto";
  font-weight: 400;
  display: block;
  font-size: 24px;
  line-height: 100%;
  color: #959595;
  padding: 11px 417px 11px 24px;
  border-radius: 50px;
  margin: 0px auto 19px;
  border: 0px;
}
.forme__input:nth-child(1) {
  margin-top: 33px;
}
.forme__button {
  border-color: transparent;
  font-family: "Roboto";
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  background-color: #8e32c6;
  padding: 20px 49px;
  border-radius: 16px;
  margin: 0 auto;
}

.footer {
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #021635;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__list::after {
  content: "";
  display: block;
  border: 1px solid #9b9b9b;
  width: 1110px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}
.footer__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: solid;
}
.footer__party {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__time {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 7px;
  margin-top: 24px;
}
.footer__from {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}
.footer__name {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}