.container {
  width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  background-color: #012d63;
}
header {
  background-color: #012d63;
  padding-top: 16px;
  padding-bottom: 14px;
}
.hero-div {
  display: flex;
  justify-content: space-between;
}
.list-first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 29px;
  margin-left: 150px;
  margin-right: 73px;
}
.list-last {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.hero-nav {
  display: flex;
  justify-content: space-around;
}
.hero-a {
  color: #c7c7c7;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
}
.hero-a:hover,
.hero-a:focus {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}
.star {
  background-image: url(../images/font-star.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 94px;
  padding-bottom: 183px;
}
.star-h1 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 144px;
  line-height: 100%;
  color: #ffffff;
}
.star-h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: #ffffff;
}
.star-h3 {
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
}
.star-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 41px;
  margin-right: 600px;
}
.star-button {
  border-radius: 10px;
  background-color: #8e32c6;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  padding: 20px 61px 19px;
}
.info {
  background-image: url(../images/Group81\(1\).png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 105px;
  padding-bottom: 105px;
}
.info-list {
  border: 5px solid #8e32c6;
  display: flex;
  justify-content: space-between;
}

.info-h3 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}
.villaines {
  background-image: url(../images/Group61\(1\).png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 24px;
  padding-bottom: 114px;
}
.villaines-item {
  width: 255px;
  height: 292px;
}
.villaines-item:nth-child(1) {
  background-image: linear-gradient(
    136.55deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 30px 0px -13px #533978;

  box-shadow: 0px 14px 0px -5px #7b54b2;
  border-radius: 15px;
}
.villaines-item:nth-child(2) {
  background-image: linear-gradient(
    136.55deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 30px 0px -13px #61337c;

  box-shadow: 0px 14px 0px -5px #9159b1;
  border-radius: 15px;
}
.villaines-item:nth-child(3) {
  background-image: linear-gradient(
    142.67deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  border-radius: 15px;
  box-shadow: 0px 30px 0px -13px #732f26;

  box-shadow: 0px 14px 0px -5px #b95a4c;
}
.villaines-h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
.villaines-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 49px;
  margin-left: 18px;
}
.villaines-h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 47px;
  margin-right: 100px;
  margin-bottom: 1px;
}
.villaines-time {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #d8d8d8;
  margin-top: 8px;
  margin-left: 18px;
}
.villaines-p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #d8d8d8;
}
.villaines-list {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 93px;
}
.villaines-img {
  margin-top: 47px;
  margin-left: 18px;
}
.villaines-div {
  display: flex;
  justify-content: space-between;
}
.order {
  padding-top: 20px;
  padding-bottom: 37px;
  background-image: url(../images/Group21\(1\).png);
  background-position: center;
  background-repeat: no-repeat;
}
.order-h2 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
.input{
  font-family: "Roboto";
font-weight: 400;
display: block;
font-size: 24px;
line-height: 100%;
color: #959595;
padding: 11px 417px 11px 24px;
border-radius: 50px ;
margin: 0PX auto 19px;
border: 0px;
}
.input:nth-child(1){
  margin-top: 33px ;
}
.input:hover,
.input:focus{
  font-family: "Roboto";
font-weight: 400;
font-size: 28px;
line-height: 100%;
color: #959595;
padding:12px 460px 13px 25px;

}
.order-button{
  font-family: "Roboto";
  display: block;
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: #FFFFFF;
background-color: #8E32C6;
padding:20px 49px ;
border-radius: 16px;
border: 0px;
margin:0 auto ;
}
footer{
  color:  #021635;
  
}
.footer-list{
  display: flex;
  gap: 10px ;
  flex-direction: column;
}
.footer-list::after{
  content: "";
   display: block;
  border: 1px solid #9B9B9B;
  width: 1110px;
  margin-top:20px ;
  margin-bottom:10px ;
}
.footer-item{
  display: flex;
  justify-content: space-between;
}
.footer-h3{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
color: #ffffff;
  
}
.footer-a{
font-family: "Roboto";
font-weight: 400;
font-size: 24px;
line-height: 100%;
color: #ffffff;
text-decoration: underline;
text-decoration-style: solid;
}
.time{
  font-family: "Roboto";
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: #ffffff;
margin-bottom: 7px;
margin-top: 24px ;
}
.footer-p{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}
.footer-h4{
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
color: #ffffff;

}
.footer-div{
  display: flex;
  justify-content: space-between;

}

